<p>
	<a href="#" class="Btn">Button</a>
	<input type="submit" value="Button" class="Btn">
	<button type="submit" href="#" class="Btn">Button</button>
</p>


<p>
	<a href="#" class="Btn Btn-Block">Button</a>
	<input type="submit" value="Button" class="Btn Btn-Block">
	<button type="submit" href="#" class="Btn Btn-Block">Button</button>
</p>


<p>
	<a href="#" class="Btn is-disabled">Button</a>
	<input type="submit" value="Button" class="Btn is-disabled">
	<button type="submit" href="#" class="Btn is-disabled">Button</button>
</p>


<!-- <p>
	<a href="#" class="Btn Btn-Alt">Alternate Button</a>
	<a href="#" class="Btn is-disabled">Disabled Button</a>
	<a href="#" class="Btn Btn-Text">Text Button</a>
</p> -->