<div class="t-List">
	<div class="Page">
		<div class="Page_Header">
			{{> organisms-header }}
		</div>
		<div class="Page_Main">
			{{> organisms-latest-posts }}
			<div class="Section">
				{{> molecules-pagination }}
			</div>
		</div>
		<div class="Page_Footer">
			{{> organisms-footer }}
		</div>
	</div>
</div>