<div class="t-Singular">
	<div class="Page hfeed">
		<div class="Page_Header">
			{{> organisms-header }}
		</div>
		<div class="Page_Main h-entry hentry">
			{{> molecules-headline }}
			{{> molecules-meta }}
			
			{{> organisms-article-body }}

			{{> molecules-meta-footer }}

			
			{{> organisms-comment-thread }}
			
		</div>
		<div class="Page_Sidebar">
		</div>
		<div class="Page_Footer">
			{{> organisms-footer }}
		</div>
	</div>
</div>