/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Base colors
$blue: #485ca5;
$white: #ffffff;
$black: #000000;
$grey: darkgrey;


//Typography
$primaryFont: sans-serif;
$secondaryFont: serif;
$preformattedFont: monospace;


//Layout


//Defaults


//Borders


//Breakpoints


