/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

//Base colors
$blue: #006ef6;
$white: #ffffff;
$black: #2a2b2b;
$lightgrey: #bdc2c7;
$darkgrey: #5f5f5f;

//Use colors
$pwccCol_useHtmlColor: $black;
$pwccCol_useHtmlBackgroundColor: #f1f1f1;
$pwccCol_useLinkColor: $blue;

//Typography
$pwccType_baseFontSize: 1rem;
$pwccType_baseLineHeight: 1.5;
$pwccType_primaryFont: sans-serif;
$pwccType_secondaryFont: serif;
$pwccType_preformattedFont: monospace;

$pwccType_useHtmlFontSize: $pwccType_baseFontSize;




//Spacing units
$pwccSpace_baseSpacingUnit: 1.5rem;
$pwccSpace_leftSpacingUnit: 2 * $pwccSpace_baseSpacingUnit;


//Defaults


//Borders


//Breakpoints


//Inuit CSS unit translations