<div class="EntryMeta">
	<span class="EntryMeta_Item">
		Posted
		<time class="EntryMeta_Detail entry-date dt-published" datetime="2014-06-19T13:43:16+00:00">
			<a href="#" class="u-url" rel="bookmark">June 19, 2014</a>
		</time>
		@
		<span class="EntryMeta_Detail p-location h-geo">
			<data class="p-latitude" value="-37.8">38<abbr class="util-silentAbbr" title="degrees">°</abbr> <abbr class="util-silentAbbr" title="North">N</abbr></data>, 
			<data class="p-longitude" value="-144.9">145<abbr class="util-silentAbbr" title="degrees">°</abbr> <abbr class="util-silentAbbr" title="East">E</abbr></data>
		</span>
	</span>
	<span class="EntryMeta_Item">
		Category
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy p-category" rel="category tag">CSS</a>
	</span>
	<span class="EntryMeta_Item">
		Tagged
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy p-category" rel="tag">Preprocessors</a>, 
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy p-category" rel="tag">IE6</a>, 
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy p-category" rel="tag">W3C</a>
	</span>

	{{^ no-excerpt }}
	
	{{/ no-excerpt }}
</div>