<div class="EntryMeta">
	<span class="EntryMeta_Item">
		Posted
		<time class="EntryMeta_Detail">
			June 19, 2014
		</time>
	</span>
	<span class="EntryMeta_Item">
		Category
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy">CSS</a>
	</span>
	<span class="EntryMeta_Item">
		Tagged
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy">Preprocessors</a>, 
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy">IE6</a>, 
		<a href="#" class="EntryMeta_Detail EntryMeta_Detail-Taxonomy">W3C</a>
	</span>

</div>