<div class="EntryMeta EntryMeta-Footer">
	<span class="EntryMeta_Item">
		Also on
		<a href="#" rel="syndication" class="EntryMeta_Detail u-syndication">Twitter</a>,
		<a href="#" rel="syndication" class="EntryMeta_Detail u-syndication">Instagram</a>
	</span>

	{{^ no-excerpt }}
	
	{{/ no-excerpt }}
</div>