<blockquote>
   	<p>A block quotation (also known as a long quotation or extract) is a quotation in a written document, that is set off from the main text as a paragraph, or <a href="{{ link.molecules-blockquote-with-citation }}">block of text</a>, and typically distinguished visually using indentation and a different typeface or smaller size quotation. </p>
	<p><cite>Quote <a href="{{ link.molecules-blockquote-with-citation }}">Source</a></cite></p>
</blockquote>