<pre><code class="css">body, #id > .class {
	/* this is a comment */
  color: blue;
  background-color: blue;
  background-image: url( "pens.jpg" );
  background-image: url( pens.jpg );
  background-image: url( "data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA=" );
  background-image: url( data:image/gif;base64,R0lGODlhAQABAAAAACwAAAAAAQABAAA= );

  border: 1px solid;
}</code></pre>