<header class="Header" role="banner">
	<div class="Header_Logo">
		{{> atoms-logo }}
	</div>
	<div class="Header_NonLogo">
		<div class="Header_Nav">
			{{> molecules-primary-nav }}
		</div>
		<div class="Header_Bio">
			<!-- faux widget -->
			<p>Peter Wilson has been making websites since around 1995. A front-end developer with a love for CSS, Peter has worked on sites for some of the country's largest and smallest companies.</p>
		</div>
	</div>
</header>
