<header class="Header vcard h-card" role="banner">
	<div class="Header_Logo">
		<a href="#" class="url u-url">{{> atoms-logo }}</a>
	</div>
	<div class="Header_NonLogo">
		<div class="Header_Nav">
			{{> molecules-primary-nav }}
		</div>
		<div class="Header_Bio">
			<!-- faux widget -->
			<p><span class="fn p-name">Peter Wilson</span> has been making websites since around 1995. A front-end developer with a love for CSS, Peter has worked on sites for some of the country's largest and smallest companies.</p>
		</div>
	</div>
</header>
