<!-- Begin Footer -->
<footer class="Footer" role="contentinfo">
	<p class="Footer_Copyright">&copy; 2014 Peter Wilson.</p>
	<div class="Footer_Nav">
		<ul class="util-nav">
			<li>
				<a href="mailto:wilson@peterwilson.cc">wilson@peterwilson.cc</a>
			</li>
		</ul>
	</div>
</footer>
<!-- End Footer -->