.u-nav {
	list-style: none;
	margin-left: 0;
}

	.u-nav > li,
	.u-nav > li > a {
		display: inline-block;
	}
	
.u-nav-stacked {
	
}

	.u-nav-stacked > li {
		display: list-item;
	}
	
	.u-nav-stacked > li > a {
		display: block;
	}