<nav id="nav" class="SiteNav">
	<ul class="SiteNav_List">
		<li><a href="{{ url }}">Blog</a></li>
		<li><a href="{{ url }}">Projects</a></li>
		<li><a href="{{ url }}">About</a></li>
		<li><a href="{{ url }}">Contact</a></li>
	</ul>
</nav><!--end .nav-->
