<div class="Pagination">
	<div class="Pagination_Direction Pagination_Direction-Previous">
		<a href="{{ url }}">Previous</a>
	</div>
	<div class="Pagination_Current">
		Page 2 <span class="Pagination_Total">/ 5</span>
	</div>
	<div class="Pagination_Direction Pagination_Direction-Next">
		<a href="{{ url }}">Next</a>
	</div>
</div>