<figure class="wp-caption">
	{{> atoms-landscape-16x9 }}
	<figcaption class="wp-caption-text">This is an example of an image with a caption. Photo captions, also known as cutlines, <a href="#">are a few lines of text</a> used to explain or elaborate on published photographs.</figcaption>
</figure>