<ul class="u-nav">
	<li><i class="Icon Icon-Error"></i></li>
	<li><i class="Icon Icon-ErrorRound"></i></li>
	<li><i class="Icon Icon-FacebookSquared"></i></li>
	<li><i class="Icon Icon-Github"></i></li>
	<li><i class="Icon Icon-GithubSquared"></i></li>
	<li><i class="Icon Icon-GooglePlus"></i></li>
	<li><i class="Icon Icon-GooglePlusSquared"></i></li>
	<li><i class="Icon Icon-MailSquared"></i></li>
	<li><i class="Icon Icon-Meetup"></i></li>
	<li><i class="Icon Icon-Ok"></i></li>
	<li><i class="Icon Icon-OkRound"></i></li>
	<li><i class="Icon Icon-RssSquared"></i></li>
	<li><i class="Icon Icon-Twitter"></i></li>
	<li><i class="Icon Icon-TwitterSquared"></i></li>
	<li><i class="Icon Icon-WordPress"></i></li>
	<!--
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	<li><i class="Icon Icon-"></i></li>
	-->
</ul>