<section class="Section Section-LatestPosts">
	<h2 class="util-SectionTitle">Latest Posts</h2>
	<ul class="PostList">
		{{# listItems.five }}
			<li class="h-entry hentry PostList_Post Article {{# no-excerpt }} PostList_Post-NoExcerpt {{/ no-excerpt }}">
				{{> molecules-headline }}
				{{> molecules-meta }}
				{{^ no-excerpt }}
				<div class="Article_Body entry-content e-content">
					{{excerpt.long}}
					
					<a href="#more" class="more-link">Continue reading</a>
				</div>
				{{/ no-excerpt }}
			</li>
		{{/ listItems.five }}
	</ul>
</section>