<div class="SocialShare">
	<p class="SocialShare_Title">Share</p>
	<ul class="SocialShare_List">
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-TwitterSquared"></i><i class="u-accessibility">Tweet</i>
				<span class="SocialLink_Count">16</span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-FacebookSquared"><i class="u-accessibility">Like</i></i>
				<span class="SocialLink_Count">6</span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-MailSquared"><i class="u-accessibility">Email</i></i>
				<span class="SocialLink_Count"></span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-RssSquared"><i class="u-accessibility">RSS</i></i>
				<span class="SocialLink_Count"></span>
			</a>
		</li>
	</ul>
</div>