<div class="SocialShare">
	<p class="SocialShare_Title">Social</p>
	<ul class="SocialShare_List">
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-Retweet"></i><i class="u-accessibility">Retweet</i>
				<span class="SocialLink_Count">16</span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-Star"><i class="u-accessibility">Star</i></i>
				<span class="SocialLink_Count">6</span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-Mail"><i class="u-accessibility">Email</i></i>
				<span class="SocialLink_Count"></span>
			</a>
		</li>
		<li>
			<a href="{{ url }}" class="SocialLink">
				<i class="Icon Icon-RssSquared"><i class="u-accessibility"></i></i>
				<span class="SocialLink_Count">RSS</span>
			</a>
		</li>
	</ul>
</div>