<ul class="sg-colors">
	<li>
		<span class="sg-swatch sg-swatch--black"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--white"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--blue"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--lightgrey"></span>
		<span class="sg-label"></span>
	</li>
	<li>
		<span class="sg-swatch sg-swatch--darkgrey"></span>
		<span class="sg-label"></span>
	</li>
</ul>